config/1c/OrderStatus.local.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://www.lm.ru/ws/orderstatus"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://www.lm.ru/ws/orderstatus"
		name="OrderStatus"
		targetNamespace="http://www.lm.ru/ws/orderstatus">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://www.lm.ru/ws/orderstatus"
				targetNamespace="http://www.lm.ru/ws/orderstatus"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="array_orders">
				<xs:sequence>
					<xs:element name="orders"
							type="tns:order"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="order">
				<xs:sequence>
					<xs:element name="order_number"
							type="xs:string"
							nillable="true"
							minOccurs="0"/>
					<xs:element name="status"
							type="xs:string"
							nillable="true"
							minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ReturnOrderStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrderNumberList"
								type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReturnOrderStatusResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:array_orders"
								nillable="true"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="ReturnOrderStatusRequestMessage">
		<part name="parameters"
				element="tns:ReturnOrderStatus"/>
	</message>
	<message name="ReturnOrderStatusResponseMessage">
		<part name="parameters"
				element="tns:ReturnOrderStatusResponse"/>
	</message>
	<portType name="OrderStatusPortType">
		<operation name="ReturnOrderStatus">
			<input message="tns:ReturnOrderStatusRequestMessage"/>
			<output message="tns:ReturnOrderStatusResponseMessage"/>
		</operation>
	</portType>
	<binding name="OrderStatusSoapBinding"
			type="tns:OrderStatusPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ReturnOrderStatus">
			<soapbind:operation style="document"
					soapAction="http://www.lm.ru/ws/orderstatus#OrderStatus:ReturnOrderStatus"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="OrderStatusSoap12Binding"
			type="tns:OrderStatusPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ReturnOrderStatus">
			<soap12bind:operation style="document"
					soapAction="http://www.lm.ru/ws/orderstatus#OrderStatus:ReturnOrderStatus"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="OrderStatus">
		<port name="OrderStatusSoap"
				binding="tns:OrderStatusSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://192.168.50.23/Trade1C/ws/OrderStatus"/>
		</port>
		<port name="OrderStatusSoap12"
				binding="tns:OrderStatusSoap12Binding">
			<soap12bind:address location="http://192.168.50.23/Trade1C/ws/OrderStatus"/>
		</port>
	</service>
</definitions>